<!DOCTYPE html>
<html>
<head>
    <title>Task 2 - Student Info Binding</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="studentApp" ng-controller="StudentController">

    <h2>Task 2: Student Info Binding</h2>

    <p><b>Name:</b> {{ student.name }}</p>
    <p><b>Roll No:</b> {{ student.roll }}</p>
    <p><b>Course:</b> {{ student.course }}</p>

    <h4>Edit Student Info:</h4>
    <label>Name: </label>
    <input type="text" ng-model="student.name"><br><br>
    <label>Roll: </label>
    <input type="text" ng-model="student.roll"><br><br>
    <label>Course: </label>
    <input type="text" ng-model="student.course"><br><br>

    <script>
        var app = angular.module("studentApp", []);
        app.controller("StudentController", function($scope) {
            $scope.student = {
                name: "Sakshi",
                roll: "101",
                course: "AngularJS Basics"
            };
        });
    </script>
</body>
</html>
